<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header', {title : "Sign In"}) %>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <h1>Welcome to Sign In Form</h1>
    <%- include('./partials/scripts') %>
  </body>
</html>
